<div class="layout">
    <h1><%=@idea.title%></h1>
    <p><%=@idea.description%></p>
    <small>This little brain teaser was brought to you by</small> <b><%= @idea.user.full_name %></b> <small><%= time_ago_in_words(@idea.created_at)%> ago </small>

    <div class='edit delete'>
        <%= link_to "Edit", edit_idea_path(@idea)%> | 
        <%= link_to "Delete", idea_path(@idea), method: :delete, data: {confirm: "You cannot take this back...you sure this is what you want?"}%>
    </div>

    <% liker = @idea.likes.find_by(user: current_user)%>
    <% if liker.present? %>
        <%= link_to "ðŸ‘Ž", idea_like_path(@idea, liker), method: :delete%>
    <% else %>
        <%= link_to "ðŸ‘", idea_likes_path(@idea), method: :post%>
    <% end %>
    <small><%= @idea.likers.count%> people thought that was worthy of sticking their thumb in the air</small>

    <h4>Review this idea</h4>
    <%= form_with model: [@idea, @review], local: true do |form| %>
        <% if @review.errors.any? %>
            <ul>
                <% @review.errors.full_messages.each do |error|%>
                    <li><%= error%></li>
                <% end %>
            </ul>
        <% end %>

        <div>
            <%=form.label :body%>
            <%= form.text_area :body%>
        </div>
        <div class="button"><%= form.submit%></div>
    <% end %>

    <% @idea.reviews.each do |review|%>
        <p><%= review.body%></p>
        <small>You know who said that about this post?</small>  <b> <%= review.user.full_name %> </b> <small> <%= time_ago_in_words(review.created_at)%> ago | <%= link_to "Delete", idea_review_path(review.idea_id, review), method: :delete, data: {confirm: "Are you sure you want to delete your review?"}%></small>
    <% end %>
</div>